main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 550px;
    margin: 50px;
    background-color: #e1e4e8;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#weather {
    width: 60%;
    height: 550px;
}

#current {
    border: 1px solid black;
    width: 90%;
    height: 275px;
    margin: 50px;
    margin-left: 0%;
    text-indent: 5px;
}

#forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-right: 50px;
    margin-left: 0%;
    width: 90%;
    height: 225px;
}

#forecast div{
    width: 19%;
    height: 225px;
    background-color: #21262d;
    text-indent: 5px;
    color: #fafbfc;
}
#forecast div h4{
    margin-top: -25px;
    margin-bottom: 5px;
    color: black;
}



