main {
    display: flex;
    flex-direction: row;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 20%; */
    width: 20%;
    height: 550px;
    margin: 50px;
    background-color: #e1e4e8;
    line-height: 2.5;
}

#quick-search{
    border-top: 1px solid #21262d;
}

#weather {
    display: none;
    width: 60%;
    height: 550px;
}

#current {
    border: 1px solid black;
    width: 90%;
    height: 275px;
    margin: 50px;
    margin-left: 0%;
    margin-bottom: 2%;
    text-indent: 10px;
    line-height: 2.5;
    background-color: #e1e4e8;
}
#current h2{
    margin-top: 5px;
    margin-bottom: 0px;
}

#current img{
    display: inline-block;
    margin-top: 0px;
    margin-bottom: -15px;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 0%;
    width: 90%;
    height: 225px;
}

#forecast div{
    width: 19%;
    height: 225px;
    background-color: #21262d;
    text-indent: 5px;
    color: #fafbfc;
}
#forecast div h4{
    margin-top: 0px;
    margin-bottom: 5px;
}


#quick-search{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#quick-search button{
    margin-top: 10px;
}


@media screen and (max-width: 600px){
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    aside {
        width: 75%;
        height: auto;
        padding-bottom: 20px;
    }
    #weather {
        text-align: center;
        display: flex;
        align-items: center;
    }
    #current {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        height: auto;
    }
    #forecast{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
    }
    #forecast div {
        width: 75%;
        height: auto;
    }
}